
<!DOCTYPE html>
<html lang="en" style="margin:20px;">
<head>
    <title>Quoting Dojo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<h1>Here are the awesome quotes!</h1>
	<% for (var i in all_quotes) { %>
		<p>"<%= all_quotes[i].quote %>"</p><br>
		<p style="margin-left: 50px;">-<%= all_quotes[i].name %> at <%= all_quotes[i].createdAt %></p><hr>
	<% } %>	
</body>
</html>